@import "src/assets/styles/templates";

.header {
  position: sticky;
  z-index: 200;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 80px;
  background: white;
  border-bottom: 1px solid #C1C1C1;
}

.wrapper {
  @extend %wrapper;
  @include flex-gap(32px);
  justify-content: space-between;
  align-items: center;
}

.items {
  @include flex-gap(32px);
  align-items: center;
}

.link {
  @include flex-col-gap(8px);
  align-items: center;
}