:root {
  --black-default: #070707;
  --black-6: rgba(7, 7, 7, 0.06);
  --black-20: rgba(7, 7, 7, 0.2);
  --black-60: rgba(0, 0, 0, 0.6);

  --white-default: #fff;
  --white-14: rgba(255, 255, 255, 0.14);
  --white-20: rgba(255, 255, 255, 0.2);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-80: rgba(255, 255, 255, 0.8);

  --blue-default: #1362ff;
  --blue-extralight: #f0f0f6;
  --blue-dark: #0d47ba;
  --blue-40: rgba(240, 240, 246, 0.4);

  --grey-default: #7a7a7a;
  --grey-light: #c7c7d1;
  --grey-dark: #404041;

  --red: #d3514b;
  --red_dark: #973733;

  --green: #35c448;

  --font-family: "Inter", sans-serif;
  --second-family: "Jost", sans-serif; // todo: new font
}

